<launch>
    <!-- parameter for planner -->
    <arg name="model" default="p450_3Dlidar_D435i"/>
    <arg name="SLAM" default="MonoGS"/>

    <!-- world -->
    <include file="$(find prometheus_gazebo)/launch/Eason_indoor.launch"/>

    <!-- 1号无人机 -->
    <include file="$(find prometheus_gazebo)/launch/sitl_$(arg model).launch"/>

    <include file="$(find uav_control)/launch/uav_control_indoor.launch"/>

    <!-- STATION -->
    <include file="$(find prometheus_station)/launch/prometheus_station.launch"/>

    <!-- 启动MonoGS -->
    <include file="$(find monogs)/launch/$(arg SLAM).launch"/>

    <!-- 启动rviz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find monogs)/configs/$(arg SLAM).rviz"/>
</launch>
